<a href="https://colab.research.google.com/github/RohanKnows/RohanKnows/blob/main/01_data_collection_and_setup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Collection & Environment Setup

## Purpose
This notebook handles:
- Environment setup and dependency installation
- Initial data sourcing for financial news
- Basic validation of collected data

This notebook does **not**:
- Train machine learning models
- Perform sentiment analysis
- Make any financial predictions

## Why This Matters
Reliable data collection is the foundation of any financial AI system.
Errors at this stage propagate downstream and invalidate results.

## Output
At the end of this notebook, we will have:
- A reproducible environment
- A clean, structured dataset of financial news
- Saved data artifacts for downstream analysis

In [3]:
# Core data handling
import pandas as pd
import numpy as np

# Visualization
import matplotlib.pyplot as plt

# NLP & ML
from transformers import pipeline

# Utilities
import os

In [2]:
!pip install -q transformers datasets yfinance

## Data Source Selection

We use financial news data provided by Yahoo Finance via the `yfinance` Python library.

### Why Yahoo Finance?
- Free and accessible
- Ticker-specific news coverage
- Commonly used in financial analysis projects
- Suitable for reproducible academic and portfolio work

### Limitations
- News coverage may be incomplete or delayed
- Article text availability varies
- Not suitable for high-frequency trading systems

In [4]:
import yfinance as yf

# Select a single stock ticker for initial testing
ticker_symbol = "AAPL"

# Create a ticker object
ticker = yf.Ticker(ticker_symbol)

# Fetch news related to the ticker
news_data = ticker.news

# Inspect the raw output
news_data

[{'id': 'd3292c7c-be07-4408-b272-80868428db8a',
  'content': {'id': 'd3292c7c-be07-4408-b272-80868428db8a',
   'contentType': 'STORY',
   'title': 'Nvidia, Tesla lead tech stocks lower as Trump trade war threats rattle market',
   'description': '',
   'summary': 'Tech stocks led broader market declines as investors grew skittish over geopolitical tensions and fears of an AI bubble continued.',
   'pubDate': '2026-01-20T16:29:28Z',
   'displayTime': '2026-01-20T21:40:54Z',
   'isHosted': True,
   'bypassModal': False,
   'previewUrl': None,
   'thumbnail': {'originalUrl': 'https://s.yimg.com/os/creatr-uploaded-images/2026-01/d9e9f850-f619-11f0-b7f3-82aa17ff9d59',
    'originalWidth': 2808,
    'originalHeight': 1872,
    'caption': '',
    'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/sAPEep6MH5tJCwff2Y4__g--~B/aD0xODcyO3c9MjgwODthcHBpZD15dGFjaHlvbg--/https://s.yimg.com/os/creatr-uploaded-images/2026-01/d9e9f850-f619-11f0-b7f3-82aa17ff9d59',
      'width': 2808,
      'height': 1872,
      'tag': 'original'},
     {'url': 'https://s.yimg.com/uu/api/res/1.2/0Sqeq.Lrjr2lczTz1qMXgQ--~B/Zmk9c3RyaW07aD0xMjg7dz0xNzA7YXBwaWQ9eXRhY2h5b24-/https://s.yimg.com/os/creatr-uploaded-images/2026-01/d9e9f850-f619-11f0-b7f3-82aa17ff9d59',
      'width': 170,
      'height': 128,
      'tag': '170x128'}]},
   'provider': {'displayName': 'Yahoo Finance',
    'url': 'http://finance.yahoo.com/'},
   'canonicalUrl': {'url': 'https://finance.yahoo.com/news/nvidia-tesla-lead-tech-stocks-lower-as-trump-trade-war-threats-rattle-market-162928073.html',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'clickThroughUrl': {'url': 'https://finance.yahoo.com/news/nvidia-tesla-lead-tech-stocks-lower-as-trump-trade-war-threats-rattle-market-162928073.html',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'metadata': {'editorsPick': True},
   'finance': {'premiumFinance': {'isPremiumNews': False,
     'isPremiumFreeNews': False}},
   'storyline': {'storylineItems': [{'content': {'id': '920e0765-e4dd-3bc9-bbc8-30509199a400',
       'contentType': 'VIDEO',
       'isHosted': True,
       'title': "Nvidia's place in AI, Apple downgrade, JPMorgan cautious on oil",
       'thumbnail': {'originalUrl': 'https://s.yimg.com/os/creatr-uploaded-images/2026-01/03e60a00-f641-11f0-9ff6-e86410251a17',
        'originalWidth': 3979,
        'originalHeight': 2236,
        'caption': '',
        'resolutions': None},
       'provider': {'displayName': 'Yahoo Finance Video',
        'sourceId': 'video.yahoofinance.com'},
       'previewUrl': None,
       'providerContentUrl': '',
       'canonicalUrl': {'url': 'https://finance.yahoo.com/video/nvidias-place-ai-apple-downgrade-204706772.html'},
       'clickThroughUrl': {'url': 'https://finance.yahoo.com/video/nvidias-place-ai-apple-downgrade-204706772.html'}}},
     {'content': {'id': '466027d2-1a5c-4582-9527-ca340494f088',
       'contentType': 'STORY',
       'isHosted': True,
       'title': 'Apple will ship millions of $2,000 foldable iPhones this year: Citi',
       'thumbnail': {'originalUrl': 'https://s.yimg.com/os/creatr-uploaded-images/2026-01/03f47170-f60b-11f0-b1fd-1adc98ef3a7c',
        'originalWidth': 8256,
        'originalHeight': 5504,
        'caption': '',
        'resolutions': None},
       'provider': {'displayName': 'Yahoo Finance',
        'sourceId': 'yahoofinance.com'},
       'previewUrl': None,
       'providerContentUrl': '',
       'canonicalUrl': {'url': 'https://finance.yahoo.com/news/apple-will-ship-millions-of-2000-foldable-iphones-this-year-citi-153849468.html'},
       'clickThroughUrl': {'url': 'https://finance.yahoo.com/news/apple-will-ship-millions-of-2000-foldable-iphones-this-year-citi-153849468.html'}}}]}}},
 {'id': '86260a35-2724-4758-b856-430c2dfdae58',
  'content': {'id': '86260a35-2724-4758-b856-430c2dfdae58',
   'contentType': 'STORY',
   'title': 'Average UK rent climbs to £1,368 as house prices edge higher',
   'description': '',
   'summary': 'Average UK house prices increased by 2.5%, to £271,000 in December, according to the ONS.',
   'pubDate': '2026-01-21T10:16:57Z',
   'displayTime': '2026-01-21T10:16:58Z',
   'isHosted': True,
   'bypassModal': False,
   'previewUrl': None,
   'thumbnail': {'originalUrl': 'https://s.yimg.com/os/creatr-uploaded-images/2026-01/d97134b0-f6af-11f0-8ddf-068c2bb4a572',
    'originalWidth': 7360,
    'originalHeight': 4912,
    'caption': '',
    'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/ny17yslUGaXShanS0ZZNbg--~B/aD00OTEyO3c9NzM2MDthcHBpZD15dGFjaHlvbg--/https://s.yimg.com/os/creatr-uploaded-images/2026-01/d97134b0-f6af-11f0-8ddf-068c2bb4a572',
      'width': 7360,
      'height': 4912,
      'tag': 'original'},
     {'url': 'https://s.yimg.com/uu/api/res/1.2/cvF7Aq9SkZ0t6ge8amYPxA--~B/Zmk9c3RyaW07aD0xMjg7dz0xNzA7YXBwaWQ9eXRhY2h5b24-/https://s.yimg.com/os/creatr-uploaded-images/2026-01/d97134b0-f6af-11f0-8ddf-068c2bb4a572',
      'width': 170,
      'height': 128,
      'tag': '170x128'}]},
   'provider': {'displayName': 'Yahoo Finance UK',
    'url': 'http://uk.finance.yahoo.com/'},
   'canonicalUrl': {'url': 'https://uk.finance.yahoo.com/news/uk-rents-december-house-prices-ons-101657181.html',
    'site': 'finance',
    'region': 'GB',
    'lang': 'en-GB'},
   'clickThroughUrl': {'url': 'https://finance.yahoo.com/news/uk-rents-december-house-prices-ons-101657181.html',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'metadata': {'editorsPick': False},
   'finance': {'premiumFinance': {'isPremiumNews': False,
     'isPremiumFreeNews': False}},
   'storyline': None}},
 {'id': '9f43cc1d-70e9-3c42-bede-43e674b4ffb7',
  'content': {'id': '9f43cc1d-70e9-3c42-bede-43e674b4ffb7',
   'contentType': 'STORY',
   'title': 'Netflix defends Warner Bros bid as shares drop on tepid results',
   'description': '',
   'summary': 'Jan 21 (Reuters) - "YouTube is not just user-generated content and cat videos anymore," Netflix CEO Ted Sarandos said on Tuesday.  Making a compelling case for why the streaming giant wanted Warner Bros Discovery\'s studio and streaming assets, Sarandos noted how tech giants such \u200bas Alphabet\'s YouTube had changed what television viewing meant and forced Netflix to change tack to keep up.  Sarandos and his co-CEO Greg Peters\xa0spent a large portion of the post-earnings call talking effusively about how strong and complementary Warner Bros\' services were, a sharp change from the long-held company credo: build, don\'t buy.',
   'pubDate': '2026-01-21T10:12:03Z',
   'displayTime': '2026-01-21T10:12:03Z',
   'isHosted': True,
   'bypassModal': False,
   'previewUrl': None,
   'thumbnail': {'originalUrl': 'https://media.zenfs.com/en/reuters-finance.com/d142485003063fd8b560b29473965f94',
    'originalWidth': 800,
    'originalHeight': 533,
    'caption': 'FILE PHOTO: Netflix logo in front of the Hollywood sign',
    'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/mdE6IcHJ7J2i24b7U4kyZQ--~B/aD01MzM7dz04MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/reuters-finance.com/d142485003063fd8b560b29473965f94',
      'width': 800,
      'height': 533,
      'tag': 'original'},
     {'url': 'https://s.yimg.com/uu/api/res/1.2/CHM.om6BIp1iP1CoghR87Q--~B/Zmk9c3RyaW07aD0xMjg7dz0xNzA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/reuters-finance.com/d142485003063fd8b560b29473965f94',
      'width': 170,
      'height': 128,
      'tag': '170x128'}]},
   'provider': {'displayName': 'Reuters', 'url': 'http://www.reuters.com/'},
   'canonicalUrl': {'url': 'https://finance.yahoo.com/news/netflix-defends-warner-bros-bid-101203336.html',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'clickThroughUrl': {'url': 'https://finance.yahoo.com/news/netflix-defends-warner-bros-bid-101203336.html',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'metadata': {'editorsPick': False},
   'finance': {'premiumFinance': {'isPremiumNews': False,
     'isPremiumFreeNews': False}},
   'storyline': None}},
 {'id': 'ae610852-a3f9-4ea5-b185-36dffd9d9e79',
  'content': {'id': 'ae610852-a3f9-4ea5-b185-36dffd9d9e79',
   'contentType': 'STORY',
   'title': 'FTSE 100 LIVE: Stocks muted as Trump heads to Davos amid Greenland standoff',
   'description': '',
   'summary': 'Trump has threatened to impose tariffs on European countries who oppose him buying, or even seizing, Greenland.',
   'pubDate': '2026-01-21T09:06:36Z',
   'displayTime': '2026-01-21T10:31:27Z',
   'isHosted': True,
   'bypassModal': False,
   'previewUrl': None,
   'thumbnail': {'originalUrl': 'https://s.yimg.com/os/creatr-uploaded-images/2026-01/04445830-f6a5-11f0-8daf-42ed55d36ba0',
    'originalWidth': 3650,
    'originalHeight': 2433,
    'caption': '',
    'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/Dtxvwx.CITJQnDB_z8mW0A--~B/aD0yNDMzO3c9MzY1MDthcHBpZD15dGFjaHlvbg--/https://s.yimg.com/os/creatr-uploaded-images/2026-01/04445830-f6a5-11f0-8daf-42ed55d36ba0',
      'width': 3650,
      'height': 2433,
      'tag': 'original'},
     {'url': 'https://s.yimg.com/uu/api/res/1.2/SQ0Fw5d5c9ml5tNkaHDBmA--~B/Zmk9c3RyaW07aD0xMjg7dz0xNzA7YXBwaWQ9eXRhY2h5b24-/https://s.yimg.com/os/creatr-uploaded-images/2026-01/04445830-f6a5-11f0-8daf-42ed55d36ba0',
      'width': 170,
      'height': 128,
      'tag': '170x128'}]},
   'provider': {'displayName': 'Yahoo Finance UK',
    'url': 'http://uk.finance.yahoo.com/'},
   'canonicalUrl': {'url': 'https://uk.finance.yahoo.com/news/ftse-100-live-stocks-donald-trump-davos-greenland-090636474.html',
    'site': 'finance',
    'region': 'GB',
    'lang': 'en-GB'},
   'clickThroughUrl': {'url': 'https://finance.yahoo.com/news/live/ftse-100-live-stocks-donald-trump-davos-greenland-090636474.html',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'metadata': {'editorsPick': False},
   'finance': {'premiumFinance': {'isPremiumNews': False,
     'isPremiumFreeNews': False}},
   'storyline': None}},
 {'id': 'a126b847-f93f-40ed-87e4-22e04447f9bb',
  'content': {'id': 'a126b847-f93f-40ed-87e4-22e04447f9bb',
   'contentType': 'STORY',
   'title': 'UK inflation rises for first time in five months in December',
   'description': '',
   'summary': 'Increase to 3.4% suggests Bank of England will keep interest rates on hold in February.',
   'pubDate': '2026-01-21T07:23:36Z',
   'displayTime': '2026-01-21T07:52:11Z',
   'isHosted': True,
   'bypassModal': False,
   'previewUrl': None,
   'thumbnail': {'originalUrl': 'https://s.yimg.com/os/creatr-uploaded-images/2026-01/aa99ee20-f5f6-11f0-9fb6-512d78a1834a',
    'originalWidth': 3689,
    'originalHeight': 2459,
    'caption': '',
    'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/2PfjsWPxQKKo2VuiU_Vn2Q--~B/aD0yNDU5O3c9MzY4OTthcHBpZD15dGFjaHlvbg--/https://s.yimg.com/os/creatr-uploaded-images/2026-01/aa99ee20-f5f6-11f0-9fb6-512d78a1834a',
      'width': 3689,
      'height': 2459,
      'tag': 'original'},
     {'url': 'https://s.yimg.com/uu/api/res/1.2/ewcA.lpqB.kLApC6Gt9Qkw--~B/Zmk9c3RyaW07aD0xMjg7dz0xNzA7YXBwaWQ9eXRhY2h5b24-/https://s.yimg.com/os/creatr-uploaded-images/2026-01/aa99ee20-f5f6-11f0-9fb6-512d78a1834a',
      'width': 170,
      'height': 128,
      'tag': '170x128'}]},
   'provider': {'displayName': 'Yahoo Finance UK',
    'url': 'http://uk.finance.yahoo.com/'},
   'canonicalUrl': {'url': 'https://uk.finance.yahoo.com/news/uk-inflation-rises-december-bank-of-england-072336744.html',
    'site': 'finance',
    'region': 'GB',
    'lang': 'en-GB'},
   'clickThroughUrl': {'url': 'https://finance.yahoo.com/news/uk-inflation-rises-december-bank-of-england-072336744.html',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'metadata': {'editorsPick': False},
   'finance': {'premiumFinance': {'isPremiumNews': False,
     'isPremiumFreeNews': False}},
   'storyline': None}},
 {'id': '2288e871-bace-31cb-a97e-c0b59c5018dc',
  'content': {'id': '2288e871-bace-31cb-a97e-c0b59c5018dc',
   'contentType': 'STORY',
   'title': 'What Berkshire’s Greg Abel Should Do With All That Cash',
   'description': '',
   'summary': 'The new CEO could enhance the company’s returns on its massive cash position with a simple options strategy: cash-secured put sales.',
   'pubDate': '2026-01-21T06:00:00Z',
   'displayTime': '2026-01-21T06:00:00Z',
   'isHosted': False,
   'bypassModal': False,
   'previewUrl': 'https://finance.yahoo.com/m/2288e871-bace-31cb-a97e-c0b59c5018dc/what-berkshire%E2%80%99s-greg-abel.html',
   'thumbnail': {'originalUrl': 'https://media.zenfs.com/en/Barrons.com/0fb6937fb4a89fe1501f38a82749871a',
    'originalWidth': 1280,
    'originalHeight': 640,
    'caption': '',
    'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/l2rQl5jbo3jdsM7lI8v5Yw--~B/aD02NDA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/Barrons.com/0fb6937fb4a89fe1501f38a82749871a',
      'width': 1280,
      'height': 640,
      'tag': 'original'},
     {'url': 'https://s.yimg.com/uu/api/res/1.2/Hu4.RDtwPQqNjmPLX64cEg--~B/Zmk9c3RyaW07aD0xMjg7dz0xNzA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/Barrons.com/0fb6937fb4a89fe1501f38a82749871a',
      'width': 170,
      'height': 128,
      'tag': '170x128'}]},
   'provider': {'displayName': 'Barrons.com',
    'url': 'http://www.barrons.com/'},
   'canonicalUrl': {'url': 'https://www.barrons.com/articles/berkshire-greg-abel-buffett-cash-ffcbba65?siteid=yhoof2&yptr=yahoo',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'clickThroughUrl': None,
   'metadata': {'editorsPick': False},
   'finance': {'premiumFinance': {'isPremiumNews': False,
     'isPremiumFreeNews': False}},
   'storyline': None}},
 {'id': '0eb3cb1b-014b-34a7-9061-4779be58a412',
  'content': {'id': '0eb3cb1b-014b-34a7-9061-4779be58a412',
   'contentType': 'STORY',
   'title': 'Is Oklo Stock a Buy in 2026 After Its Nuclear Deal With Meta?',
   'description': '',
   'summary': 'Oklo and Meta announced a partnership to support 1.2 gigawatts of power in Ohio.',
   'pubDate': '2026-01-21T02:09:00Z',
   'displayTime': '2026-01-21T02:09:00Z',
   'isHosted': True,
   'bypassModal': False,
   'previewUrl': None,
   'thumbnail': {'originalUrl': 'https://media.zenfs.com/en/motleyfool.com/7051fb5899b3eb8635b7dbc24aec7993',
    'originalWidth': 1400,
    'originalHeight': 787,
    'caption': 'Nuclear power plant in a field.',
    'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/4uRLa2_JkRT7rljz6KFKjQ--~B/aD03ODc7dz0xNDAwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/7051fb5899b3eb8635b7dbc24aec7993',
      'width': 1400,
      'height': 787,
      'tag': 'original'},
     {'url': 'https://s.yimg.com/uu/api/res/1.2/kKzuaQUH_bOQWrNE1GH5rg--~B/Zmk9c3RyaW07aD0xMjg7dz0xNzA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/motleyfool.com/7051fb5899b3eb8635b7dbc24aec7993',
      'width': 170,
      'height': 128,
      'tag': '170x128'}]},
   'provider': {'displayName': 'Motley Fool', 'url': 'http://www.fool.com/'},
   'canonicalUrl': {'url': 'https://www.fool.com/investing/2026/01/20/is-oklo-stock-a-buy-after-its-nuclear-deal-with-me/',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'clickThroughUrl': {'url': 'https://finance.yahoo.com/news/oklo-stock-buy-2026-nuclear-020900911.html',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'metadata': {'editorsPick': False},
   'finance': {'premiumFinance': {'isPremiumNews': False,
     'isPremiumFreeNews': False}},
   'storyline': None}},
 {'id': 'f26ce1af-2429-3286-9b36-5438472a70e2',
  'content': {'id': 'f26ce1af-2429-3286-9b36-5438472a70e2',
   'contentType': 'STORY',
   'title': 'What Nvidia didn’t show at CES, and whether AMD should care',
   'description': '',
   'summary': 'Nvidia (NVDA) stock is trading about 3.39% lower near $180, at the time of writing, Tuesday afternoon, Jan. 20, according to Yahoo Finance. And as if the worries about the AI bubble weren’t enough, other big tech stocks, including Apple, Meta, Microsoft, Tesla, and Google, are also down, as ...',
   'pubDate': '2026-01-21T00:37:00Z',
   'displayTime': '2026-01-21T00:37:00Z',
   'isHosted': True,
   'bypassModal': False,
   'previewUrl': None,
   'thumbnail': {'originalUrl': 'https://media.zenfs.com/en/thestreet_881/8d6fc818a71103d95db46ad8f01b65d4',
    'originalWidth': 1200,
    'originalHeight': 800,
    'caption': '',
    'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/uIzZon3mkWUCxeY7bTVVuw--~B/aD04MDA7dz0xMjAwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/thestreet_881/8d6fc818a71103d95db46ad8f01b65d4',
      'width': 1200,
      'height': 800,
      'tag': 'original'},
     {'url': 'https://s.yimg.com/uu/api/res/1.2/XiP5Dxml_uC7PQevJE4ElA--~B/Zmk9c3RyaW07aD0xMjg7dz0xNzA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/thestreet_881/8d6fc818a71103d95db46ad8f01b65d4',
      'width': 170,
      'height': 128,
      'tag': '170x128'}]},
   'provider': {'displayName': 'TheStreet',
    'url': 'https://www.thestreet.com/'},
   'canonicalUrl': {'url': 'https://www.thestreet.com/technology/what-nvidia-didnt-show-at-ces-and-whether-amd-should-care',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'clickThroughUrl': {'url': 'https://finance.yahoo.com/news/nvidia-didn-t-show-ces-003700030.html',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'metadata': {'editorsPick': False},
   'finance': {'premiumFinance': {'isPremiumNews': False,
     'isPremiumFreeNews': False}},
   'storyline': None}},
 {'id': '72a0f4f0-5514-3e42-a821-b619e9403ba4',
  'content': {'id': '72a0f4f0-5514-3e42-a821-b619e9403ba4',
   'contentType': 'STORY',
   'title': "With Gemini Powering Apple's Siri, Alphabet Could Soon Be the Undisputed AI Leader",
   'description': '',
   'summary': 'The new collaboration gives Alphabet the AI momentum it needs.',
   'pubDate': '2026-01-20T23:20:00Z',
   'displayTime': '2026-01-20T23:20:00Z',
   'isHosted': True,
   'bypassModal': False,
   'previewUrl': None,
   'thumbnail': {'originalUrl': 'https://media.zenfs.com/en/motleyfool.com/bd594be9b0462a2efeabe5668d68ef8b',
    'originalWidth': 1200,
    'originalHeight': 800,
    'caption': 'The letters "AI" on a phone screen.',
    'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/BQxT_pQp0tV9w39WmpMzRw--~B/aD04MDA7dz0xMjAwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/bd594be9b0462a2efeabe5668d68ef8b',
      'width': 1200,
      'height': 800,
      'tag': 'original'},
     {'url': 'https://s.yimg.com/uu/api/res/1.2/B_vecG26Mvjv8pR_gggTEA--~B/Zmk9c3RyaW07aD0xMjg7dz0xNzA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/motleyfool.com/bd594be9b0462a2efeabe5668d68ef8b',
      'width': 170,
      'height': 128,
      'tag': '170x128'}]},
   'provider': {'displayName': 'Motley Fool', 'url': 'http://www.fool.com/'},
   'canonicalUrl': {'url': 'https://www.fool.com/investing/2026/01/20/with-gemini-powering-apples-siri-alphabet-could-so/',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'clickThroughUrl': {'url': 'https://finance.yahoo.com/news/gemini-powering-apples-siri-alphabet-232000220.html',
    'site': 'finance',
    'region': 'US',
    'lang': 'en-US'},
   'metadata': {'editorsPick': False},
   'finance': {'premiumFinance': {'isPremiumNews': False,
     'isPremiumFreeNews': False}},
   'storyline': None}},
 {'id': 'a2090ddd-e2be-320b-af14-af77e69477b7',
  'content': {'id': 'a2090ddd-e2be-320b-af14-af77e69477b7',
   'contentType': 'STORY',
   'title': "Wall Street Logs Worst Day Since October, Gold Shines Amid Trump's Tariff Threat",
   'description': '',
   'summary': "Wall Street's equity benchmarks posted their biggest one-day losses in more than three months on Tue",
   'pubDate': '2026-01-20T22:00:59Z',
   'displayTime': '2026-01-20T22:00:59Z',
   'isHosted': True,
   'bypassModal': False,
   'previewUrl': None,

In [5]:
# Number of news articles retrieved
len(news_data)

10

In [6]:
# Convert raw news data into a structured DataFrame
news_df = pd.DataFrame(news_data)

# Display the first few rows
news_df.head()

,id,content
0,d3292c7c-be07-4408-b272-80868428db8a,"{'id': 'd3292c7c-be07-4408-b272-80868428db8a',..."
1,86260a35-2724-4758-b856-430c2dfdae58,"{'id': '86260a35-2724-4758-b856-430c2dfdae58',..."
2,9f43cc1d-70e9-3c42-bede-43e674b4ffb7,"{'id': '9f43cc1d-70e9-3c42-bede-43e674b4ffb7',..."
3,ae610852-a3f9-4ea5-b185-36dffd9d9e79,"{'id': 'ae610852-a3f9-4ea5-b185-36dffd9d9e79',..."
4,a126b847-f93f-40ed-87e4-22e04447f9bb,"{'id': 'a126b847-f93f-40ed-87e4-22e04447f9bb',..."

In [7]:
# Inspect available columns
news_df.columns

Index(['id', 'content'], dtype='object')

In [9]:
# Inspect the structure of a single news item
news_data[0]

{'id': 'd3292c7c-be07-4408-b272-80868428db8a',
 'content': {'id': 'd3292c7c-be07-4408-b272-80868428db8a',
  'contentType': 'STORY',
  'title': 'Nvidia, Tesla lead tech stocks lower as Trump trade war threats rattle market',
  'description': '',
  'summary': 'Tech stocks led broader market declines as investors grew skittish over geopolitical tensions and fears of an AI bubble continued.',
  'pubDate': '2026-01-20T16:29:28Z',
  'displayTime': '2026-01-20T21:40:54Z',
  'isHosted': True,
  'bypassModal': False,
  'previewUrl': None,
  'thumbnail': {'originalUrl': 'https://s.yimg.com/os/creatr-uploaded-images/2026-01/d9e9f850-f619-11f0-b7f3-82aa17ff9d59',
   'originalWidth': 2808,
   'originalHeight': 1872,
   'caption': '',
   'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/sAPEep6MH5tJCwff2Y4__g--~B/aD0xODcyO3c9MjgwODthcHBpZD15dGFjaHlvbg--/https://s.yimg.com/os/creatr-uploaded-images/2026-01/d9e9f850-f619-11f0-b7f3-82aa17ff9d59',
     'width': 2808,
     'height': 1872,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/0Sqeq.Lrjr2lczTz1qMXgQ--~B/Zmk9c3RyaW07aD0xMjg7dz0xNzA7YXBwaWQ9eXRhY2h5b24-/https://s.yimg.com/os/creatr-uploaded-images/2026-01/d9e9f850-f619-11f0-b7f3-82aa17ff9d59',
     'width': 170,
     'height': 128,
     'tag': '170x128'}]},
  'provider': {'displayName': 'Yahoo Finance',
   'url': 'http://finance.yahoo.com/'},
  'canonicalUrl': {'url': 'https://finance.yahoo.com/news/nvidia-tesla-lead-tech-stocks-lower-as-trump-trade-war-threats-rattle-market-162928073.html',
   'site': 'finance',
   'region': 'US',
   'lang': 'en-US'},
  'clickThroughUrl': {'url': 'https://finance.yahoo.com/news/nvidia-tesla-lead-tech-stocks-lower-as-trump-trade-war-threats-rattle-market-162928073.html',
   'site': 'finance',
   'region': 'US',
   'lang': 'en-US'},
  'metadata': {'editorsPick': True},
  'finance': {'premiumFinance': {'isPremiumNews': False,
    'isPremiumFreeNews': False}},
  'storyline': {'storylineItems': [{'content': {'id': '920e0765-e4dd-3bc9-bbc8-30509199a400',
      'contentType': 'VIDEO',
      'isHosted': True,
      'title': "Nvidia's place in AI, Apple downgrade, JPMorgan cautious on oil",
      'thumbnail': {'originalUrl': 'https://s.yimg.com/os/creatr-uploaded-images/2026-01/03e60a00-f641-11f0-9ff6-e86410251a17',
       'originalWidth': 3979,
       'originalHeight': 2236,
       'caption': '',
       'resolutions': None},
      'provider': {'displayName': 'Yahoo Finance Video',
       'sourceId': 'video.yahoofinance.com'},
      'previewUrl': None,
      'providerContentUrl': '',
      'canonicalUrl': {'url': 'https://finance.yahoo.com/video/nvidias-place-ai-apple-downgrade-204706772.html'},
      'clickThroughUrl': {'url': 'https://finance.yahoo.com/video/nvidias-place-ai-apple-downgrade-204706772.html'}}},
    {'content': {'id': '466027d2-1a5c-4582-9527-ca340494f088',
      'contentType': 'STORY',
      'isHosted': True,
      'title': 'Apple will ship millions of $2,000 foldable iPhones this year: Citi',
      'thumbnail': {'originalUrl': 'https://s.yimg.com/os/creatr-uploaded-images/2026-01/03f47170-f60b-11f0-b1fd-1adc98ef3a7c',
       'originalWidth': 8256,
       'originalHeight': 5504,
       'caption': '',
       'resolutions': None},
      'provider': {'displayName': 'Yahoo Finance',
       'sourceId': 'yahoofinance.com'},
      'previewUrl': None,
      'providerContentUrl': '',
      'canonicalUrl': {'url': 'https://finance.yahoo.com/news/apple-will-ship-millions-of-2000-foldable-iphones-this-year-citi-153849468.html'},
      'clickThroughUrl': {'url': 'https://finance.yahoo.com/news/apple-will-ship-millions-of-2000-foldable-iphones-this-year-citi-153849468.html'}}}]}}}

In [10]:
# Manually extract relevant fields from raw news data
processed_news = []

for article in news_data:
    processed_news.append({
        "title": article.get("title"),
        "publisher": article.get("publisher"),
        "publish_time": article.get("providerPublishTime")
    })

news_df = pd.DataFrame(processed_news)
news_df.head()

  title publisher publish_time
0  None      None         None
1  None      None         None
2  None      None         None
3  None      None         None
4  None      None         None

In [11]:
news_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         0 non-null      object
 1   publisher     0 non-null      object
 2   publish_time  0 non-null      object
dtypes: object(3)
memory usage: 372.0+ bytes

In [12]:
# Convert Unix timestamp to datetime (UTC)
news_df["publish_datetime"] = pd.to_datetime(
    news_df["publish_time"],
    unit="s",
    utc=True
)

news_df.head()

  title publisher publish_time publish_datetime
0  None      None         None              NaT
1  None      None         None              NaT
2  None      None         None              NaT
3  None      None         None              NaT
4  None      None         None              NaT

In [13]:
# Remove rows where publish time is missing
news_df = news_df.dropna(subset=["publish_datetime"])

news_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             0 non-null      object
 1   publisher         0 non-null      object
 2   publish_time      0 non-null      object
 3   publish_datetime  0 non-null      datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), object(3)
memory usage: 0.0+ bytes